/* Include the padding and border in an element's total width and height */

* {
    box-sizing: border-box;
}
.body {background-color: #bbb;}

/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style die Listeneinträge */

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Zebra Optik */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Dunklerer Hintergrund wenn du mit der Maus drüber schwebst */

ul li:hover {
    background: #ddd;
}


/* Ändert nach dem Klick den Hintergrund und streicht den Text durch */

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Hakt ab wenn du draufklickst */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style den X Knopp */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


/* Style den Header */

header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


/* Floats nach der Kopfzeile löschen */

header:after {
    content: "";
    display: table;
    clear: both;
}


/* Style die Eingabe */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style den Add Knopp */

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}



































.container {margin-top: 25px;}
#toDoListe {padding-top: 15px; padding-bottom: 15px; }
footer {text-align: center; border-top: 1px solid rgb(200, 200, 200); }
footer p { padding-top: 15px; padding-bottom: 15px; font-size: 11px;}


.theshadow{ padding-top: 15px;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px) {
    p, li, span, input {
      font-size: 11px !important;
    }
  }